body {
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	font-size: 18px;
	font-weight: 300;
	font-family: Roboto;
}

#masthead {
	.top-header {
		display: flex;
		flex-wrap: nowrap;
		flex-flow: flex-start;
		flex-direction: row;
		background-color: #fff;
		padding: 30px 60px;

		.site-branding {
			width: 38%;

			.site-title {
				padding: 0;
				margin: 0;
				font-size: 1.3rem;
				line-height: 1.3rem;

				a {
					color: #000;
					text-decoration: none;
					font-family: "Roboto Slab", serif;
					font-weight: 700;
				}
			}
		}

		#site-navigation {
			width: 62%;

			ul#primary-menu {
				li {
					display: inline-block;
					text-align: center;
					padding: 0 1rem;

					&.current-menu-item {
						border-bottom: 1px solid rgba(0,0,0,.1);
					}

					a {
						color: #777;
						font-weight: 300;
						text-transform: uppercase;
						font-size: .85rem;
					}
				}
			}
		}
	}

	.bottom-header {
		background-color: rgba(0,0,0,.3);
		padding: 60px;
		background-size: cover;

		.site-description {
			font-size: 2.5rem;
			font-family: "Roboto Slab", serif;
			color: #fff;
		}
	}
}

#content {
	.entry-header,
	.entry-content,
	.entry-footer {
		width: 90%;
		max-width: 60rem;
		margin: auto;
		background: #fff;
		padding: 0 2rem;
	}
}


.entry-header {
	text-align: center;

	a {
		text-decoration: none;
		color: #000;
		text-decoration: none;
	}
	.entry-title {
		font-size: 3rem;
		font-family: "Roboto Slab", serif;
		color: #000;
	}
	.entry-meta {
		font-size: .8rem;
		color: #999;

		a {
			color: #999;
		}
		.author-avatar {
			img {
				width: 80px;
				height: 80px;
				border-radius: 50%;
			}
		}
	}
}

hr.post-separator {
	margin: 4em 0 3em 0;
	background-color: rgba(0,0,0,.1);
}

.post-thumbnail {
	text-align: center;

	img {
		width: 100%;
	}
}
